.popular-boards-tiles-container {
    height: 250px;
    max-width: 760px;
    outline: 2px solid rgb(120, 120, 120);
}

.popular-boards-tiles {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    align-items: flex-start;
    align-content: flex-start;
}
.board-item {

}
.big-tile {
    flex: 2 0 100%;
    width: 35%;
}
.medium-tile {
    flex: 2 0 50%;
    width: 25%;
}
.small-tile {
    flex: 2 0 50%;
    width: 20%;
}
.board {
    border: 2px solid #FEFEFE;
    background: #CCC none repeat scroll 0% 0%;
    height: 100%;
    box-sizing: border-box;
}
body{
    height: 600px;
}
figure{
    margin: 0px;
}
